/* UNIVERSAL STYLES */

html {
    font-family: "Libre Franklin";
    font-size: 16px;
    background-color: #f4f2f6;
    color: #010101;
}

main {
    position: relative;
    top: 5rem;
}

button {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border: 2px solid #856fab;
    border-radius: 2rem;
    background-color: #f1f1f2;
    color: #856fab;
    font-size: 1.2rem;
    font-weight: 500;
}

button:hover {
    color:#FFF;
    background-color: #c9e99c;
    border: 2px solid #c9e99c;
}

button:active {
    color:#FFF;
    background-color: #c9e99c;
    border: #c9e99c;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins";
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

.decoration-section {
    position: absolute;
    width: 100%;
    bottom: -0.3125rem;
} 

.decoration-section img {
    display: block;
    width: 100%;
} 




/* HEADER */

header .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
}

header .logo {
    font-size: 2rem;
    font-family: "Delius Swash Caps", cursive;
    color: #856fab;
    padding-left: 1rem;
    padding-right: 15rem;
}

header nav ul {
    display: flex;
}

.desktop ul li {
    padding-right: 2rem;
}

/* HERO SECTION */

#hero-section {
    display: flex;
    height: 100vh;
    position: relative;
}

#hero-section #right-side {
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding-left: 2rem;
    
}

#right-side .text-container {
    width: 80%;
}

#hero-section #left-side {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

#hero-section p {
    font-size: 1.5rem;
}

/* HERO SECTION - AVATAR */

.avatar-container {
    position: relative;
    width: 28.125rem;
    height: 37.5rem;
}

.avatar {
    position: absolute;
    z-index: 5;
    top: 128px;
    right: 85px;
    width: 70%;
}

.first.blob {
    width: 505px;
    height: 375px;
    position: absolute;
    top: 32px;
    z-index: 3;
  }

.first.blob path {
    fill: #cec8ef;
    d: path("M623.645,268.095c-3.108,-77.31 39.892,-279.095 261.592,-253.183c245.11,28.648 539.652,118.408 661.468,136.745c259.335,39.04 546.628,-38.658 743.193,-16.1c148.003,16.985 353.033,239.545 134.98,443.83c-202.84,190.032 -663.917,1134.13 -1202.29,1259.22c-610.07,141.488 -1257.8,-238.287 -1209.72,-641.373c17.53,-146.963 69.46,-272.942 238.515,-336.385c89.852,-33.718 255.052,-115.297 366.62,-233.307c106.053,-112.178 8.34,-291.264 5.64,-359.448 Z");

} 

.second.blob {
    display: block;
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 0;
}

.third.blob {
    position: absolute;
    display: block;
    z-index: 2;
    top: 25px;
    right: 8px;
    width: 100%;
}









/* PROJECTS */



#projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 125vh;
    background-color: #cec8ef;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.arrow {
    padding: 1.5rem 2rem;
    border-radius: 50%;
}




/* CARDS */

.project-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card {
    position: relative;
    display: block;
    height: 100%;
    max-height: 31.25rem;
    border-radius: 40px;
    margin: 3rem;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: 40px;    
    background-color: #b2dbe9;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }

  .project-card:hover .card-overlay {
    transform: translateY(0);
  }

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 40px 0 0 0;    
    background-color: #b2dbe9;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }

  .card-header-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }

  .card-header-arc path {
    fill: #b2dbe9;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  } 

  .project-card:hover .card-header {
    transform: translateY(0);
  }

  .card-title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }

  .card-description {
    display: block;
    margin: 1em 0;  
    font-size: .8em; 
    color: black;  
  }

  .card-stack-description {
    text-align: center;
    display: block;
    font-size: .8em; 
    color: black;  
  }

  .card-github {
    margin: 1rem 6rem;
  }

  /* CONTACT */

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #b2dbe9;
  }

#contact .contact-container {
    background-color: #f4f2f6;
    width: 55%;
    height: 50%;
}

