/* UNIVERSAL STYLES */

html {
    font-family: "Libre Franklin";
    font-size: 16px;
    background-color: #f4f2f6;
    color: #010101;
}

main {
    position: relative;
    top: 5rem;
}

button {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border: 2px solid #856fab;
    border-radius: 2rem;
    background-color: #f1f1f2;
    color: #856fab;
    font-size: 1.2rem;
    font-weight: 500;
}

button:hover {
    color:#FFF;
    background-color: #c9e99c;
    border: 2px solid #c9e99c;
}

button:active {
    color:#FFF;
    background-color: #c9e99c;
    border: #c9e99c;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins";
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.decoration-section {
    position: absolute;
    width: 100%;
    bottom: -0.3125rem;
} 

.decoration-section img {
    display: block;
    width: 100%;
} 




/* HEADER */

header .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
}

header .logo {
    font-size: 2rem;
    font-family: "Delius Swash Caps", cursive;
    color: #856fab;
    padding-left: 1rem;
    padding-right: 15rem;
}

header nav ul {
    display: flex;
}

.desktop ul li {
    padding-right: 2rem;
}

/* HERO SECTION */

#hero-section {
    display: flex;
    height: 100vh;
    position: relative;
}

#hero-section .right-side {
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding-left: 2rem;
    
}

.right-side .text-container {
    width: 80%;
}

#hero-section .left-side {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

#hero-section p {
    font-size: 1.5rem;
}

/* HERO SECTION - AVATAR */

.avatar-container {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 30rem;
    height: 20rem;
}

.avatar {
    position: absolute;
    top: 3.25rem;
    right: 7.5rem;
    width: 19rem;
    height: 19rem;
    z-index: 2;
}

.background-blob {
    position: absolute;
    width: 100%;
    z-index: 1;
}



/* PROJECTS */



#projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 125vh;
    background-color: #cec8ef;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.arrow {
    padding: 1.5rem 2rem;
    border-radius: 50%;
}




/* CARDS */

.project-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card {
    position: relative;
    display: block;
    height: 100%;
    max-height: 31.25rem;
    border-radius: 40px;
    margin: 3rem;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: 40px;    
    background-color: #b2dbe9;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }

  .project-card:hover .card-overlay {
    transform: translateY(0);
  }

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 40px 0 0 0;    
    background-color: #b2dbe9;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }

  .card-header-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }

  .card-header-arc path {
    fill: #b2dbe9;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  } 

  .project-card:hover .card-header {
    transform: translateY(0);
  }

  .card-title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }

  .card-description {
    display: block;
    margin: 1em 0;  
    font-size: .8em; 
    color: black;  
  }

  .card-stack-description {
    text-align: center;
    display: block;
    font-size: .8em; 
    color: black;  
  }

  .card-github {
    margin: 1rem 6rem;
  }

  /* CONTACT */

  #contact {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #b2dbe9;
  }

#contact .contact-container {
    display: flex;
    position: relative;
    background-color: #f4f2f6;
    padding: 3rem 4rem;
}


#contact .contact-container .right-side {
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;
    
}

#contact .contact-container .left-side {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    width: 50%;
}

#contact .contact-container .left-side .text-container {
    line-height: 1.5;
}


#contact .right-side .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30rem;
    height: 20rem;
}

.mailbox {
    display: block;
    position: absolute;
    width: 50%;
    z-index: 2;
}

.mail {
    display: block;
    position: absolute;
    width: 20%;
    top: 4.5rem;
    left: 6.5rem;
    z-index: 3;
}

.flapper {
    display: block;
    position: absolute;
    width: 15%;
    top: 5.5rem;
    left: 15.8rem;
    z-index: 3;
}

.mail-background-blob {
    display: block;
    position: absolute;
    width: 90%;
    z-index: 1;
}